NEXT_PUBLIC_SITE_URL=https://www.fluidrwa.com
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=
FORM_NOTIFICATION_EMAIL=contact@fluidrwa.com
FORM_NOTIFICATION_FROM=
ASSESSMENT_NOTIFICATION_EMAIL=contact@fluidrwa.com
ASSESSMENT_NOTIFICATION_FROM=
PAYU_PAYMENT_HANDLE_URL=https://u.payu.in/rJ19kGC7dpFH
PAYU_MERCHANT_KEY=
PAYU_MERCHANT_SALT=
PAYU_BASE_URL=https://secure.payu.in/_payment
PAYU_SUCCESS_URL=
PAYU_FAILURE_URL=
